.finance-container {
    padding: 20px;
  }
  
  .finance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .finance-table th, .finance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
  }
  
  .finance-table th {
    background-color: #9A7DCE;
    color: white;
    text-align: center;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  
  .finance-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .finance-table tr:hover {
    background-color: #cecece;
  }
  .finance-table1 {
    width: 70%;

    border-collapse: collapse;
  }
  
  .finance-table1 th, .finance-table1 td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
  }
  
  .finance-table1 th {
    background-color: red;
    color: white;
    text-align: left;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  
  .finance-table1 tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  